<div class="d-flex justify-content-between">
  <h1 class="text-white">Pedidos</h1>
  <button
    type="button"
    class="btn btn-primary h-100"
    (click)="addPageNavigate()"
  >
    Criar
  </button>
</div>

<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <app-custom-autocomplete
        [label]="'Cliente'"
        (handleOnChange)="setCustomer($event)"
        [data]="customers"
        displayValue="name"
        class="col-md-6 col-sm-12 mb-2"
        [value]="customer"
        (searchAction)="filterCustomers($event)"
      ></app-custom-autocomplete>
      <app-custom-autocomplete
        [label]="'Status'"
        (handleOnChange)="setOrderStatus($event)"
        [data]="orderStatuses"
        displayValue="description"
        class="col-md-6 col-sm-12 mb-2"
        [value]="status"
        (searchAction)="filterStatus($event)"
      ></app-custom-autocomplete>
      <div class="col">
        <button
          type="button"
          class="btn btn-outline-primary float-end"
          (click)="getOrders()"
        >
          Buscar
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary float-end me-2"
          (click)="clearFilters()"
        >
          Limpar filtros
        </button>
      </div>
    </div>
  </div>
</div>

<app-data-table
  [data]="orders"
  [columns]="columns"
  (editAction)="edit($event)"
  (removeAction)="openDialog($event)"
  [dataCount]="dataCount"
/>
