<h1 class="text-white">Produtos por status no pedido</h1>

<div class="accordion mb-4" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header mb-0">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Alteração em massa
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div class="d-flex justify-content-between">
          <mat-form-field class="mb-3">
            <mat-label>Status do produto</mat-label>
            <mat-select [(ngModel)]="massiveStatusId">
              @for (status of orderItemStatuses; track status) {
              <mat-option [value]="status.id">
                {{ status.description }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div class="align-self-end">
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="openDialog()"
            >
              Atualizar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <mat-form-field class="mb-3">
      <mat-label>Status do produto</mat-label>
      <mat-select
        [value]="selectedStatusId"
        (selectionChange)="filterData($event.value)"
      >
        @for (status of orderItemStatuses; track status) {
        <mat-option [value]="status.id">
          {{ status.description }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <table
      class="table table-responsive table-striped table-hover table-bordered mb-3"
    >
      <thead>
        <tr>
          <th scope="col">Quantidade</th>
          <th scope="col">Código</th>
          <th scope="col">Produto</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        @for(item of itemsByStatus; track item){
        <tr>
          <td>{{ item.amount }}</td>
          <td>{{ item.productCode }}</td>
          <td>{{ item.productDescription }}</td>
          <mat-form-field class="w-100">
            <mat-select
              (selectionChange)="changeItemStatus($event, item.productId)"
              [(value)]="item.statusId"
            >
              @for (status of orderItemStatuses; track status) {
              <mat-option [value]="status.id">
                {{ status.description }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </tr>
        }
      </tbody>
    </table>
    <app-data-table-pagination
      (searchAction)="changePageAction($event)"
      [totalPages]="pagesCount"
    />
  </div>
</div>
