<h1>Produtos</h1>
<div class="card mb-3">
  <div class="card-body d-flex justify-content-between align-items-end gap-4 flex-wrap">
    <div class="flex-grow-1 flex-md-grow-0 flex-lg-grow-1">
      <label for="product-description">Produto</label>
      <input
        #productDescription
        class="form-control"
        id="product-description"
        placeholder="Produto"
        [(ngModel)]="product.description"
        name="name"
      />
    </div>
    <div class="flex-grow-1 flex-md-grow-0">
      <label for="product-description">Código</label>
      <input
        class="form-control"
        id="product-productCode"
        placeholder="Código"
        [(ngModel)]="product.productCode"
        name="name"
      />
    </div>
    <div class="flex-grow-1 flex-md-grow-0">
      <app-input-mask
        [label]="'Preço (R$)'"
        [value]="product.productPrice"
        (handleOnChange)="setPrice($event)"
      >
      </app-input-mask>
    </div>
    <div class="flex-grow-1 flex-md-grow-0">
      <app-custom-autocomplete
        [label]="'Categoria'"
        (handleOnChange)="setCategory($event)"
        [data]="categories"
        [creatable]="true"
        displayValue="description"
        [value]="product.category"
      ></app-custom-autocomplete>
    </div>
    <div class="">
      <button type="button" class="btn btn-primary" (click)="add()">
        Adicionar
      </button>
    </div>
  </div>
</div>

<div class="card mt-3" *ngIf="products.length > 0">
  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Código</th>
          <th scope="col">Preço</th>
          <th scope="col">Categoria</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; index as index">
          <td>{{ product.description }}</td>
          <td>{{ product.productCode }}</td>
          <td>{{ getCurrencyValue(product.productPrice) }}</td>
          <td>{{ product.category.description }}</td>
          <td class="td-icons">
            <button
              type="button"
              class="btn btn-outline-danger me-2"
              title="Remover produto"
              (click)="openDialog(product)"
            >
              <mat-icon fontIcon="delete" />
            </button>
            <button
              type="button"
              class="btn btn-outline-success"
              title="Editar produto"
              (click)="edit(product)"
            >
              <mat-icon fontIcon="edit" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
