<h1>Produtos</h1>
<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <label for="product-description">Produto</label>
        <input
          #customerName
          class="form-control"
          id="product-description"
          placeholder="Produto"
          [(ngModel)]="product.description"
          name="name"
        />
      </div>
      <div class="col-12 col-md-6 col-lg">
        <label for="product-description">Código</label>
        <input
          #customerName
          class="form-control"
          id="product-productCode"
          placeholder="Código"
          [(ngModel)]="product.productCode"
          name="name"
        />
      </div>
      <div class="col-12 col-md-6 col-lg">
        <app-custom-autocomplete
          [label]="'Categoria'"
          (handleOnChange)="setCategory($event)"
          [data]="categories"
          [isCreatable]="true"
          displayValue="description"
          [value]="product.category"
        ></app-custom-autocomplete>
      </div>
      <div class="col-12 col-md-6 col-lg align-content-end text-end">
        <button type="button" class="btn btn-primary" (click)="add()">
          Adicionar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3" *ngIf="products.length > 0">
  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Código</th>
          <th scope="col">Categoria</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; index as index">
          <td>{{ product.description }}</td>
          <td>{{ product.productCode }}</td>
          <td>{{ product.category.description }}</td>
          <td class="td-icons">
            <button
              type="button"
              class="btn btn-outline-danger me-2"
              title="Remover produto"
              (click)="add()"
            >
              <mat-icon fontIcon="delete" />
            </button>
            <button
              type="button"
              class="btn btn-outline-success"
              title="Editar produto"
              (click)="edit(product)"
            >
              <mat-icon fontIcon="edit" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
