<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h1>Balanço das parcelas</h1>
        @if(installmentsBalance) {
        <app-custom-chart
          class="home-max-height"
          [data]="installmentsBalance"
          [labels]="chartLabels"
        />
        }
      </div>
    </div>
  </div>
  <div class="col">
    <app-data-table
      [title]="'Parcelas próximas'"
      [columns]="columns"
      [data]="nextInstallments"
      [showActionsColumn]="false"
      [dataCount]="dataCount"
      (searchAction)="getHomeData($event)"
    />
  </div>
</div>
