<div class="row text-white">
  <div class="col">
    <div class="flex flex-col items-center">
      <p class="pacifico-font fs-1">Olá, Rosilaine 👋</p>
      <h2 class="text-center">Aqui está um resumo das suas vendas 🛒</h2>
    </div>
  </div>
</div>

<app-installments-dashboard
  [columns]="columns"
  [dashInstallments]="dashInstallments"
  [dataCount]="dataCount"
  [installmentsBalance]="installmentsBalance"
  [installmentsTotal]="installmentsTotal"
  [pendingInstallments]="pendingInstallments"
  (getInstallmentsData)="getInstallmentsData($event)"
  [showDash]="false"
/>
