<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand pacifico-font" routerLink="/"
      >Rosilaine Cosméticos</a
    >
    <button
      class="navbar-toggler print-hidden"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      data-bs-theme="dark"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/"
            >Início</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="/customers"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Clientes
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/customer-tags">Tags</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="/products"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Produtos
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/order-item-status"
                >Status
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="/product-category"
                >Categorias
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            routerLink="/orders"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Pedidos
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/order-status">Status</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="/order-item-by-status">Produtos por status no pedido</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
