<nav class="bg-transparent shadow-2xs text-white decoration-sky-500 print-hidden">
  <div class="container mx-auto flex items-center justify-between px-4 py-2">
    <a class="text-xl font-bold pacifico-font" routerLink="/">
      Rosilaine Cosméticos
    </a>

    <!-- Botão Mobile -->
    <button
      class="lg:hidden p-2 rounded-md border border-gray-300 hover:bg-gray-100 print:hidden"
      type="button"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <!-- Ícone hamburguer -->
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>

    <!-- Links -->
    <div
      class="hidden lg:flex lg:items-center lg:space-x-6"
      id="navbarSupportedContent"
    >
      <ul class="flex space-x-6">
        <li>
          <a class="font-medium" routerLink="/"> Início </a>
        </li>

        <!-- Clientes -->
        <li class="relative group">
          <a class="font-medium cursor-pointer" routerLink="/customers">
            Clientes
          </a>
          <ul
            class="absolute left-0 hidden group-hover:block z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600 py-2 text-sm text-gray-700 dark:text-gray-400"
          >
            <li>
              <a
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                routerLink="/customer-tags"
              >
                Tags
              </a>
            </li>
          </ul>
        </li>

        <!-- Produtos -->
        <li class="relative group">
          <a class="font-medium cursor-pointer" routerLink="/products">
            Produtos
          </a>
          <ul
            class="absolute left-0 hidden group-hover:block z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600 py-2 text-sm text-gray-700 dark:text-gray-400"
          >
            <li>
              <a
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                routerLink="/order-item-status"
              >
                Status
              </a>
            </li>
            <li>
              <a
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                routerLink="/order-item-by-status"
              >
                Produtos por status no pedido
              </a>
              <hr class="border-gray-200" />
            </li>
            <li>
              <a
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                routerLink="/product-category"
              >
                Categorias
              </a>
            </li>
          </ul>
        </li>

        <!-- Pedidos -->
        <li class="relative group">
          <a class="font-medium cursor-pointer" routerLink="/orders">
            Pedidos
          </a>
          <ul
            class="absolute left-0 hidden group-hover:block z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600 py-2 text-sm text-gray-700 dark:text-gray-400"
          >
            <li>
              <a
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                routerLink="/order-status"
              >
                Status
              </a>
            </li>
            <li>
              <hr class="border-gray-200" />
            </li>
            <li>
              <a
                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                routerLink="/order-item-by-status"
              >
                Produtos por status no pedido
              </a>
            </li>
          </ul>
        </li>

        <!-- Estoque -->
        <li>
          <a class="font-medium" routerLink="/stock"> Estoque </a>
        </li>
      </ul>
    </div>

    <div>
      <button
        (click)="onToggleButtonClick()"
        data-tooltip-target="table-hover-example-toggle-dark-mode-tooltip"
        type="button"
        data-toggle-dark="light"
        class="cursor-pointer flex items-center w-9 h-9 justify-center text-xs font-medium text-gray-700 bg-white border border-gray-200 rounded-lg toggle-dark-state-example hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-gray-300 dark:focus:ring-gray-500 dark:bg-gray-800 focus:outline-none dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
      >
        <svg
          data-toggle-icon="moon"
          class="w-3.5 h-3.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 18 20"
        >
          <path
            d="M17.8 13.75a1 1 0 0 0-.859-.5A7.488 7.488 0 0 1 10.52 2a1 1 0 0 0 0-.969A1.035 1.035 0 0 0 9.687.5h-.113a9.5 9.5 0 1 0 8.222 14.247 1 1 0 0 0 .004-.997Z"
          ></path>
        </svg>
        <svg
          data-toggle-icon="sun"
          class="w-3.5 h-3.5 hidden"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 15a5 5 0 1 0 0-10 5 5 0 0 0 0 10Zm0-11a1 1 0 0 0 1-1V1a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1Zm0 12a1 1 0 0 0-1 1v2a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1ZM4.343 5.757a1 1 0 0 0 1.414-1.414L4.343 2.929a1 1 0 0 0-1.414 1.414l1.414 1.414Zm11.314 8.486a1 1 0 0 0-1.414 1.414l1.414 1.414a1 1 0 0 0 1.414-1.414l-1.414-1.414ZM4 10a1 1 0 0 0-1-1H1a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1Zm15-1h-2a1 1 0 1 0 0 2h2a1 1 0 0 0 0-2ZM4.343 14.243l-1.414 1.414a1 1 0 1 0 1.414 1.414l1.414-1.414a1 1 0 0 0-1.414-1.414ZM14.95 6.05a1 1 0 0 0 .707-.293l1.414-1.414a1 1 0 1 0-1.414-1.414l-1.414 1.414a1 1 0 0 0 .707 1.707Z"
          ></path>
        </svg>
        <span class="sr-only">Toggle dark/light mode</span>
      </button>
    </div>
  </div>
</nav>
