<div
  class="flex items-center justify-between border-t border-white/10 px-4 py-3 sm:px-6 bg-white border-gray-200 dark:bg-gray-800"
>
  <div class="flex flex-1 justify-between sm:hidden">
    <a
      href="#"
      class="relative inline-flex items-center rounded-md border border-white/10 bg-white/5 px-4 py-2 text-sm font-medium text-gray-200 hover:bg-white/10"
      >Anterior</a
    >
    <a
      href="#"
      class="relative ml-3 inline-flex items-center rounded-md border border-white/10 bg-white/5 px-4 py-2 text-sm font-medium text-gray-200 hover:bg-white/10"
      >Próximo</a
    >
  </div>
  <div>
    <p class="text-sm text-gray-300">
      Exibindo
      <span class="font-medium">1</span>
      até
      <span class="font-medium">10</span>
      de
      <span class="font-medium">97</span>
      resultados
    </p>
  </div>
  <div>
    <nav
      aria-label="Pagination"
      class="isolate inline-flex -space-x-px rounded-md"
    >
      <ul class="flex items-center -space-x-px h-8 text-sm">
        <li
          class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 inset-ring inset-ring-gray-300 dark:inset-ring-gray-700 hover:bg-white/5 focus:z-20 focus:outline-offset-0"
        >
          <button
            type="button"
            class="cursor-pointer"
            aria-label="Anterior"
            [disabled]="!hasMoreData"
            (click)="onPrevButtonClick()"
          >
            <span class="sr-only">Anterior</span>
            <svg
              viewBox="0 0 20 20"
              fill="currentColor"
              data-slot="icon"
              aria-hidden="true"
              class="size-5"
            >
              <path
                d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                clip-rule="evenodd"
                fill-rule="evenodd"
              />
            </svg>
          </button>
        </li>
        @for (page of pages; track $index) {
        <li class="page-item">
          <button
            type="button"
            class="page-link {{ getClassName(page) }}"
            (click)="onPageButtonClick(page)"
          >
            {{ page }}
          </button>
        </li>
        }
        <li
          class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 inset-ring inset-ring-gray-300 dark:inset-ring-gray-700 hover:bg-white/5 focus:z-20 focus:outline-offset-0"
        >
          <button
            type="button"
            class="cursor-pointer"
            aria-label="Próximo"
            [disabled]="!hasMoreData"
            (click)="onNextButtonClick()"
          >
            <span class="sr-only">Próximo</span>
            <svg
              viewBox="0 0 20 20"
              fill="currentColor"
              data-slot="icon"
              aria-hidden="true"
              class="size-5"
            >
              <path
                d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd"
                fill-rule="evenodd"
              />
            </svg>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>
