<nav aria-label="Page navigation example">
  <ul class="pagination float-end mb-0">
    <li class="page-item">
      <button
        type="button"
        class="page-link"
        aria-label="Previous"
        [disabled]="!hasMoreData"
        (click)="onPrevButtonClick()"
      >
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>
    @for (page of pages; track $index) {
    <li class="page-item">
      <button
        type="button"
        class="page-link {{ getClassName(page) }}"
        href="#"
        (click)="onPageButtonClick(page)"
      >
        {{ page }}
      </button>
    </li>
    }
    <li class="page-item">
      <button
        type="button"
        class="page-link"
        aria-label="Next"
        [disabled]="!hasMoreData"
        (click)="onNextButtonClick()"
      >
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>
  </ul>
</nav>
