@if(showSearchField()) {
<div class="card mb-3">
  <div class="card-body">
    <label for="Pesquisar">Pesquisar</label>
    <input
      type="text"
      name="Pesquisar"
      id="Pesquisar"
      class="form-control"
      (keyup)="filterData($event)"
      placeholder="{{ searchPlaceHolder() }}"
    />
  </div>
</div>
}

<div class="card">
  <div class="card-body">
    <table
      class="table table-responsive table-striped table-hover table-bordered"
    >
      <thead>
        <tr>
          @for(column of columns(); track column){
          <th scope="col">{{ column.description }}</th>
          }
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        @for(row of readyData; track row){
        <tr>
          @for(column of columns(); track column){
          <td width="{{ getColumnWidth(column) }}">
            {{ displayCell(row, column) }}
          </td>
          }
          <td class="td-icons">
            <button
              type="button"
              class="btn btn-outline-danger me-2"
              title="Remover produto"
              (click)="remove(row)"
            >
              <mat-icon fontIcon="delete" />
            </button>
            <button
              type="button"
              class="btn btn-outline-success"
              title="Editar cliente"
              (click)="edit(row)"
            >
              <mat-icon fontIcon="edit" />
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <app-data-table-pagination 
      (searchAction)="changePageAction($event)"
      [hasMoreData]="hasMoreData"
      [totalPages]="pagesCount"
    />
  </div>
</div>
