@if(showSearchField()) {
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <label for="Pesquisar">Pesquisar</label>
  <input
    type="text"
    name="Pesquisar"
    id="Pesquisar"
    class="form-control"
    (keyup)="filterData($event)"
    placeholder="{{ searchPlaceHolder() }}"
  />
</div>
}

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  @if (_title) {
  <h1>{{ _title }}</h1>
  }
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        @for(column of columns(); track column) {
        <th scope="col" class="px-6 py-3">{{ column.description }}</th>
        } @if(showActions) {
        <th scope="col" class="px-6 py-3">Ações</th>
        }
      </tr>
    </thead>
    <tbody>
      @for(row of readyData; track row){
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        @for(column of columns(); track column){
        <td
          width="{{ getColumnWidth(column) }}"
          (click)="cellAction($index, row)"
          [attr.role]="getRole($index)"
        >
          {{ displayCell(row, column) }}
        </td>
        } @if (showActions) {
        <td class="td-icons">
          <button
            type="button"
            class="btn btn-outline-danger me-2"
            title="Remover"
            (click)="remove(row)"
          >
            <mat-icon fontIcon="delete" />
          </button>
          <button
            type="button"
            class="btn btn-outline-success"
            title="Editar"
            (click)="edit(row)"
          >
            <mat-icon fontIcon="edit" />
          </button>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
  <app-data-table-pagination
    (searchAction)="changePageAction($event)"
    [totalPages]="pagesCount"
  />
</div>
