<div class="">
  <h1 class="text-white">Produtos</h1>
  <app-product-create
    [product]="product"
    (saveProductAction)="onSaveProduct($event)"
  />
</div>

<div
  class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 mb-3"
>
  <div class="row">
    <div class="col-md-6 col-sm-12 mb-2">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="Pesquisar">Pesquisar</label>
      <input
        type="text"
        name="Pesquisar"
        id="Pesquisar"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        (input)="onDescriptionKeyUp($event.target!)"
        placeholder="Busque por nome do produto ou código"
      />
    </div>
    <app-custom-autocomplete
      [label]="'Categoria'"
      (handleOnChange)="onSelectedCategoryChange($event)"
      [data]="categories"
      displayValue="description"
      class="col-md-6 col-sm-12 mb-2"
      (searchAction)="filterCategories($event)"
    ></app-custom-autocomplete>
  </div>
</div>

<app-data-table
  [columns]="columns"
  (removeAction)="openDialog($event)"
  (editAction)="edit($event)"
  (searchAction)="filterData($event)"
  [data]="products"
  [dataCount]="dataCount"
/>
