<div class="">
  <h1 class="text-white">Produtos</h1>
  <app-product-create
    [product]="product"
    (saveProductAction)="onSaveProduct($event)"
  />
</div>

<div
  class="w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700 mb-3"
>
  <div class="row">
    <div class="col-md-6 col-sm-12 mb-2">
      <label for="Pesquisar">Pesquisar</label>
      <input
        type="text"
        name="Pesquisar"
        id="Pesquisar"
        class="form-control"
        (input)="onDescriptionKeyUp($event.target!)"
        placeholder="Busque por nome do produto ou código"
      />
    </div>
    <app-custom-autocomplete
      [label]="'Categoria'"
      (handleOnChange)="onSelectedCategoryChange($event)"
      [data]="categories"
      displayValue="description"
      class="col-md-6 col-sm-12 mb-2"
      (searchAction)="filterCategories($event)"
    ></app-custom-autocomplete>
  </div>
</div>

<app-data-table
  [columns]="columns"
  (removeAction)="openDialog($event)"
  (editAction)="edit($event)"
  (searchAction)="filterData($event)"
  [data]="products"
  [dataCount]="dataCount"
/>
