<form>
  <label class="text-gray-900 dark:text-white" htmlFor="search-input">{{ label() }}</label>
  <input
    type="text"
    placeholder="Pesquisar"
    [matAutocomplete]="auto"
    matInput
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    (focus)="onFocus($event)"
    (keyup)="onKeyUp($event.target)"
    (input)="onInput($event.target)"
    name="search-input"
    [formControl]="currentValue"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="update($event)"
  >
    @for (item of data(); track item) {
    <mat-option [value]="item">
      {{ item[displayValue()] }}
    </mat-option>
    }
  </mat-autocomplete>
</form>
