<form>
  <label htmlFor="search-input">{{ label() }}</label>
  <input
    type="text"
    placeholder="Pesquisar"
    [matAutocomplete]="auto"
    matInput
    class="form-control"
    (focus)="onFocus($event)"
    (keyup)="onKeyUp($event.target)"
    name="search-input"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="update($event)"
  >
    @for (item of data(); track item) {
    <mat-option [value]="item">
      {{ item[displayValue()] }}
    </mat-option>
    }
  </mat-autocomplete>
</form>
