<form>
  <label>{{ label }}</label>
  <input
    type="text"
    placeholder="Pesquisar {{ label.toLocaleLowerCase() }}"
    [matAutocomplete]="auto"
    [formControl]="myControl"
    matInput
    class="form-control"
  />
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="getOptionLabel">
    <mat-option
      *ngFor="let value of filteredData | async"
      [value]="value"
      (onSelectionChange)="update($event)"
    >
      {{ getOptionLabel(value) }}
    </mat-option>
  </mat-autocomplete>
</form>
