<h1>Pedidos</h1>
<div class="card mt-3" *ngIf="orders.length > 0">
  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Cliente</th>
          <th scope="col">Data do pedido</th>
          <th scope="col">Status</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders; index as index">
          <td>{{ order.customer.name }}</td>
          <td>{{ getBrDate(order.orderDate) }}</td>
          <td>{{ order.status.description }}</td>
          <td class="td-icons">
            <button
              type="button"
              class="btn btn-outline-danger me-2"
              title="Remover produto"
              (click)="remove(order.id!)"
            >
              <mat-icon fontIcon="delete" />
            </button>
            <button
              type="button"
              class="btn btn-outline-success"
              title="Editar produto"
              routerLink="/order/{{order.id}}"
            >
              <mat-icon fontIcon="edit" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
