<div class="container">
  <h1>Pedidos</h1>
  <div class="card mb-3">
    <div class="card-body">
      <div class="card-row">
        <app-custom-autocomplete
          [data]="customers"
          [getOptionLabel]="getOptionLabelCustomer"
          [label]="'Cliente'"
          (handleOnChange)="setCustomer($event)"
        ></app-custom-autocomplete>
        <app-br-date-picker
          [label]="'Data do pedido'"
          [value]="order.createdDate"
          (handleOnChange)="setOrderDate($event)"
          
        ></app-br-date-picker>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="card-row">
        <div>
          <app-custom-autocomplete
            #productDescription
            [data]="databaseProducts"
            [getOptionLabel]="getOptionLabelProduct"
            [label]="'Produto'"
            (handleOnChange)="setProduct($event)"
          ></app-custom-autocomplete>
        </div>
        <div>
          <app-input-mask
            [label]="'Preço (R$)'"
            [value]="orderItem.sellingPrice"
            (handleOnChange)="setPrice($event)"
          >
          </app-input-mask>
        </div>
        <div>
          <label for="product-amount">Quantidade</label>
          <input
            type="number"
            class="form-control"
            id="product-amount"
            [(ngModel)]="orderItem.quantity"
          />
        </div>
        <div>
          <button type="button" class="btn btn-primary" (click)="add()">
            Adicionar
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-generic-list
    [data]="order.orderItems"
    [columnsProps]="columnsProps"
    [title]="'Produtos'"
    (editAction)="edit($event)"
    (deleteAction)="remove(orderItem)"
  >
  </app-generic-list>
</div>
