<h1 class="text-white">Categorias de produto</h1>
<div class="card mb-3">
  <div
    class="card-body flex justify-between items-end gap-4 flex-wrap"
  >
    <div class="flex-grow-1 flex-md-grow-0 flex-lg-grow-1">
      <label for="product-category-description">Categoria</label>
      <input
        #productCategoryDescription
        class="form-control"
        id="product-category-description"
        placeholder="Descrição do status"
        [(ngModel)]="productCategory.description"
        name="name"
      />
    </div>
    <div class="">
      <button type="button" class="btn btn-primary" (click)="add()">
        Adicionar
      </button>
    </div>
  </div>
</div>
<app-data-table
  [columns]="columns"
  [data]="productCategories"
  (editAction)="edit($event)"
  (removeAction)="openDialog($event)"
  [showSearchField]="true"
  (searchAction)="filterData($event)"
  [dataCount]="dataCount"
/>
