<div class="d-flex text-white justify-content-between align-items-end">
  <h1>{{ title }}</h1>
  <h5>Atualizado em {{ orderUpdated }}</h5>
</div>
@if(order.value!.orderItems.length > 0){
<div class="card mb-3">
  <div class="card-body">
    <div class="d-flex gap-2 flex-wrap white-space-nowrap">
      <div>
        <p><b>Total do pedido</b></p>
        <div class="fs-5 fw-medium" style="color: limegreen">
          {{ orderTotal }}
        </div>
      </div>
      <app-installments-header
        [installmentsAmount]="order.value!.installments?.length ?? 1"
        [firstInstallmentDate]="order.value!.firstInstallmentDate"
        [isRounded]="order.value!.isRounded"
        (saveAction)="saveInstallmentsChanges($event)"
      />
      <div class="d-flex justify-content-between flex-grow-1 align-items-end">
        <div>
          <button
            type="button"
            class="btn btn-primary text-white"
            (click)="installmentsManagement()"
          >
            Visualizar
          </button>
          <button
            type="button"
            class="btn btn-primary text-white ms-2"
            (click)="print()"
          >
            Imprimir
          </button>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-outline-primary ms-2 btn-sm d-flex"
            title="Salvar"
            (click)="saveOrderButtonClick()"
          >
            <mat-icon fontIcon="save" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
}
<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <app-custom-autocomplete
        [label]="'Cliente'"
        (handleOnChange)="setCustomer($event)"
        [data]="customers"
        [displayValue]="'name'"
        [value]="order.value!.customer"
        class="col-md-3 mb-md-0 mb-2"
      ></app-custom-autocomplete>
      <app-custom-autocomplete
        [label]="'Cliente final'"
        (handleOnChange)="setEndCustomerAndSave($event)"
        [data]="endCustomers"
        [displayValue]="'name'"
        [value]="endCustomer()"
        class="col-md-3 mb-md-0 mb-2"
        [creatable]="true"
      ></app-custom-autocomplete>
      <app-custom-autocomplete
        [label]="'Status'"
        (handleOnChange)="setOrderStatus($event)"
        [data]="orderStatuses"
        [creatable]="true"
        displayValue="description"
        [value]="order.value!.status"
        class="col-md-3 mb-md-0 mb-2"
      ></app-custom-autocomplete>
      <app-br-date-picker
        [label]="'Data do pedido'"
        [value]="order.value!.orderDate"
        (handleOnChange)="setOrderDate($event)"
        class="col-md-3"
      ></app-br-date-picker>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4">
        <app-custom-autocomplete
          [label]="'Produto'"
          (handleOnChange)="setProduct($event)"
          [data]="products"
          [displayValue]="'description'"
          [value]="orderItem.product"
        ></app-custom-autocomplete>
      </div>
      <div class="col-lg-2">
        <app-custom-autocomplete
          [label]="'Status'"
          (handleOnChange)="setOrderItemStatus($event)"
          [data]="orderItemStatuses"
          [creatable]="true"
          displayValue="description"
          [value]="orderItem.itemStatus"
        ></app-custom-autocomplete>
      </div>
      <div class="col-lg-2">
        <app-input-mask
          [label]="'De (R$)'"
          [value]="orderItem.itemOriginalPrice"
          [disabled]="true"
        />
      </div>
      <div class="col-lg-2">
        <app-input-mask
          [label]="'Por (R$)'"
          [value]="orderItem.itemSellingPrice"
          (handleOnChange)="setPrice($event)"
        >
        </app-input-mask>
      </div>
      <div class="col-lg-2">
        <label for="product-amount">Quantidade</label>
        <input
          type="number"
          class="form-control"
          id="product-amount"
          [(ngModel)]="orderItem.itemAmount"
        />
      </div>
      <div class="col-lg-12 align-content-end text-end mt-lg-2">
        <button type="button" class="btn btn-primary" (click)="addUpdateItem()">
          {{ addUpdateItemButtonText }}
        </button>
      </div>
    </div>
  </div>
</div>

@if (order.value!.orderItems.length > 0) {
<div class="card mb-3">
  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Quantidade</th>
          <th scope="col">Produto</th>
          <th scope="col">Status</th>
          <th scope="col">Data de entrega</th>
          <th scope="col">De</th>
          <th scope="col">Por</th>
          <th scope="col">Total</th>
          <th scope="col" class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        @for(orderItem of order.value!.orderItems; track orderItem){
        <tr>
          <td style="width: 5%">{{ orderItem.itemAmount }}</td>
          <td style="width: 20%">{{ orderItem.product.description }}</td>
          <td style="width: 15%">
            <mat-form-field class="w-100">
              <mat-select
                (selectionChange)="changeItemStatus($event, orderItem)"
                [(value)]="orderItem.itemStatus.id"
              >
                @for (status of orderItemStatuses; track status) {
                <mat-option [value]="status.id">
                  {{ status.description }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </td>
          <td style="width: 15%">
            <app-br-date-picker
              [label]="'Data de entrega'"
              [value]="orderItem.deliveryDate"
              (handleOnChange)="setOrderItemDeliveryDate($event, orderItem)"
              (handleDoubleClick)="setOrderItemDeliveryToday(orderItem)"
            ></app-br-date-picker>
          </td>
          <td>{{ getCurrencyValue(orderItem.itemOriginalPrice) }}</td>
          <td>{{ getCurrencyValue(orderItem.itemSellingPrice) }}</td>
          <td>{{ getCurrencyValue(orderItem.itemSellingTotal) }}</td>
          <td class="td-icons text-center">
            <button
              type="button"
              class="btn btn-outline-danger me-2"
              title="Remover produto"
              (click)="remove(orderItem)"
            >
              <mat-icon fontIcon="delete" />
            </button>
            <button
              type="button"
              class="btn btn-outline-success me-2"
              title="Editar produto"
              (click)="edit(orderItem)"
            >
              <mat-icon fontIcon="edit" />
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
}
