<h1 class="text-white">Status do Pedido</h1>
<div class="card mb-3">
  <div
    class="card-body flex justify-between align-items-end gap-4 flex-wrap"
  >
    <div class="flex-grow-1 flex-md-grow-0 flex-lg-grow-1">
      <label for="order-status-description">Status</label>
      <input
        #orderStatusDescription
        class="form-control"
        id="order-status-description"
        placeholder="Descrição do status"
        [(ngModel)]="orderStatus.description"
        name="name"
      />
    </div>
    <div class="">
      <button type="button" class="btn btn-primary" (click)="add()">
        {{ addUpdateButtonText }}
      </button>
    </div>
  </div>
</div>
<app-data-table
  [columns]="columns"
  [data]="orderStatuses"
  (editAction)="edit($event)"
  (removeAction)="openDialog($event)"
  [showSearchField]="true"
  (searchAction)="filterData($event)"
  [dataCount]="dataCount"
/>
