<h1>{{ title }}</h1>
<div class="card mb-3" *ngIf="order.orderItems.length > 0">
  <div class="card-body">
    <div class="d-flex gap-2">
      <div>
        <label>Total do pedido</label>
        <div class="fs-6 fw-medium" style="color: limegreen">
          {{ orderTotal }}
        </div>
      </div>
      <div>
        <app-installments-select [order]="order" (saveOrderAction)="saveOrder($event)"/>
      </div>
      <div>
        <label for="first-installment-date">Data da primeira parcela</label>
        <input
          class="form-control"
          id="first-installment-date"
          placeholder="dd/mm/aaaa"
          name="birth-date"
          mask="00/00/0000"
          matInput
          [dropSpecialCharacters]="false"
          [(ngModel)]="order.firstInstallmentDate"
        />
      </div>
      <div class="align-content-end text-end">
        <button
          type="button"
          class="btn btn-primary text-white"
          (click)="installmentsManagement()"
        >
          Visualizar
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <app-custom-autocomplete
        [label]="'Cliente'"
        (handleOnChange)="setCustomer($event)"
        [data]="customers"
        [displayValue]="'name'"
        [value]="order.customer"
        class="col-md-6 mb-md-0 mb-2"
      ></app-custom-autocomplete>
      <app-custom-autocomplete
        [label]="'Status'"
        (handleOnChange)="setOrderStatus($event)"
        [data]="orderStatus"
        [creatable]="true"
        displayValue="description"
        [value]="order.status"
        class="col-md-3 mb-md-0 mb-2"
      ></app-custom-autocomplete>
      <app-br-date-picker
        [label]="'Data do pedido'"
        [value]="order.orderDate"
        (handleOnChange)="setOrderDate($event)"
        class="col-md-3"
      ></app-br-date-picker>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <div class="row">
          <div class="col-md-8 mb-xl-0 mb-2">
            <app-custom-autocomplete
              [label]="'Produto'"
              (handleOnChange)="setProduct($event)"
              [data]="products"
              [displayValue]="'description'"
              [value]="orderItem.product"
            ></app-custom-autocomplete>
          </div>
          <div class="col-md-4 mb-xl-0 mb-2">
            <app-custom-autocomplete
              [label]="'Status'"
              (handleOnChange)="setOrderItemStatus($event)"
              [data]="orderItemStatus"
              [creatable]="true"
              displayValue="description"
              [value]="orderItem.itemStatus"
            ></app-custom-autocomplete>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
        <div class="row">
          <div class="col-xl-5 col-md-6 mb-xl-0 mb-2">
            <app-input-mask
              [label]="'Preço (R$)'"
              [value]="orderItem.itemSellingPrice"
              (handleOnChange)="setPrice($event)"
            >
            </app-input-mask>
          </div>
          <div class="col-xl-4 col-md-6 mb-xl-0 mb-2">
            <label for="product-amount">Quantidade</label>
            <input
              type="number"
              class="form-control"
              id="product-amount"
              [(ngModel)]="orderItem.itemAmount"
            />
          </div>
          <div class="col-xl-3 mb-xl-0 mb-2 align-content-end text-end">
            <button type="button" class="btn btn-primary" (click)="add()">
              Adicionar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" *ngIf="order.orderItems.length > 0">
  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Status</th>
          <th scope="col">Data de entrega</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Preço</th>
          <th scope="col">Total</th>
          <th scope="col" class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderItem of order.orderItems; index as index">
          <td>{{ orderItem.product.description }}</td>
          <td>
            <mat-form-field>
              <mat-label>Status</mat-label>
              <mat-select
                (selectionChange)="changeItemStatus($event, orderItem)"
                [(value)]="orderItem.itemStatus.id"
              >
                @for (status of orderItemStatus; track status) {
                <mat-option [value]="status.id">{{
                  status.description
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </td>
          <td>{{ getBrDate(orderItem.deliveryDate) }}</td>
          <td>{{ orderItem.itemAmount }}</td>
          <td>{{ getCurrencyValue(orderItem.itemSellingPrice) }}</td>
          <td>{{ getCurrencyValue(orderItem.itemSellingTotal) }}</td>
          <td class="td-icons text-center">
            <button
              type="button"
              class="btn btn-outline-danger me-2"
              title="Remover produto"
              (click)="remove(orderItem)"
            >
              <mat-icon fontIcon="delete" />
            </button>
            <button
              type="button"
              class="btn btn-outline-success me-2"
              title="Editar produto"
              (click)="edit(orderItem)"
            >
              <mat-icon fontIcon="edit" />
            </button>
            <button
              type="button"
              class="btn btn-outline-primary"
              title="Marcar como entregue"
              (click)="deliveryItem(orderItem)"
            >
              <mat-icon fontIcon="local_shipping" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
