.mat-icon {
  transform: scale(0.95);
}

.td-icons {
  & button {
    display: inline-grid;
    padding: 3px;
  }
}

thead>tr>th {
  &:nth-child(1) {
    width: 52.5%;
  }

  &:nth-child(2) {
    width: 12.5%;
  }

  &:nth-child(3) {
    width: 12.5%;
  }

  &:nth-child(4) {
    width: 12.5%;
  }

  &:nth-child(5) {
    width: 10%;
  }
}

.customer-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem;

  & :first-child {
    flex-grow: 1;
  }
}