<h2>My Heroes</h2>

<div>
  <label for="new-hero">Hero name</label>
  <input id="new-hero" placeholder="Nome" [(ngModel)]="hero.title" name="name" />
  <label for="new-hero-content">Hero content</label>
  <input id="new-hero-content" [(ngModel)]="hero.content"  />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add()">
    Add hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.title}}
    </a>
    <button type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>