<div class="mb-3 mt-3">
  <div
    class="flex justify-between items-end gap-4 flex-wrap"
  >
    <div class="flex-grow-1 flex-md-grow-0 flex-lg-grow-1">
      <label for="stock-description">Estoque</label>
      <input
        #stockDescriptionField
        class="form-control"
        id="stock-description"
        placeholder="Descrição do estoque"
        [(ngModel)]="stock.description"
        name="name"
      />
    </div>
    <div class="">
      <button type="button" class="btn btn-primary" (click)="add()">
        Adicionar
      </button>
    </div>
  </div>
</div>
<app-data-table
  [columns]="columns"
  [data]="stocks()"
  (editAction)="edit($event)"
  (removeAction)="openDialog($event)"
  [showSearchField]="true"
  (searchAction)="filterData($event)"
  [dataCount]="dataCount()"
  [cardMode]="false"
/>
