<h1 class="text-white">Estoques</h1>

<div
  class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 mb-3"
>
  <mat-tab-group>
    <mat-tab label="Estoques">
      <div class="stocks-tab">
        <app-stocks
          (addUpdateAction)="addUpdateAction($event)"
          (deleteAction)="deleteStockById($event)"
          (filterAction)="filterData($event)"
          [stocks]="stocks"
          [dataCount]="dataCount"
        />
      </div>
    </mat-tab>
    <mat-tab label="Produtos por estoque">
      <app-stock-products />
    </mat-tab>
  </mat-tab-group>
</div>
