<div
  class="w-full p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700 mb-3"
>
  <div class="row row-gap-2">
    <div class="col-12">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="product-description">Produto</label>
      <input
        #productDescription
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        id="product-description"
        placeholder="Produto"
        [(ngModel)]="modelProduct()!.description"
        name="name"
        [maxlength]="150"
        (input)="onDescriptionInput($event.target)"
      />
    </div>
    <div class="col-12 col-sm-4">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="product-description">Código</label>
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        id="product-productCode"
        placeholder="Código"
        [(ngModel)]="modelProduct()!.productCode"
        name="name"
      />
    </div>
    <div class="col-12 col-sm-4">
      <app-input-mask
        [label]="'Preço (R$)'"
        [value]="modelProduct()!.productPrice"
        (handleOnChange)="setPrice($event)"
      >
      </app-input-mask>
    </div>
    <div class="col-12 col-sm-4">
      <app-custom-autocomplete
        [label]="'Categoria'"
        (handleOnChange)="setCategory($event)"
        [data]="categories"
        displayValue="description"
        [value]="modelProduct()!.category"
        (searchAction)="filterCategories($event)"
      ></app-custom-autocomplete>
    </div>
    <div class="col-12">
      <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 float-end" (click)="add()">
        {{ addUpdateButtonText }}
      </button>
    </div>
  </div>
</div>
