@font-face {
  font-family: pacifico-regular;
  src: url('./assets/fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  .snackbar-success {
    --mdc-snackbar-container-color: green;
  }

  .snackbar-error {
    --mdc-snackbar-container-color: red;
  }

  .snackbar-info {
    --mdc-snackbar-container-color: blue;
  }
}

html,
body {
  height: 100%;
  background: #833AB4;
  background: linear-gradient(180deg, rgba(131, 58, 180, 1) 50%, rgba(255, 120, 192, 1) 100%);
  background-attachment: fixed
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-br-date-picker .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.pacifico-font {
  font-family: 'pacifico-regular', 'arial', sans-serif;
  /* Or other fallback fonts */
}