:root {
  .snackbar-success {
    --mdc-snackbar-container-color: green;
  }

  .snackbar-error {
    --mdc-snackbar-container-color: red;
  }

  .snackbar-info {
    --mdc-snackbar-container-color: blue;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-br-date-picker .mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}