<h2 mat-dialog-title>Parcelas</h2>
<mat-dialog-content class="text-dark">
  <div class="d-flex gap-2">
    <div class="">
      <app-installments-select
        [order]="data.order"
        (saveOrderAction)="data.saveOrder($event)"
      />
    </div>
    <div class="">
      <app-br-date-picker
        [label]="'Data da primeira parcela'"
        [value]="data.order.firstInstallmentDate"
        (handleOnChange)="setFirstInstallmentDate($event)"
      ></app-br-date-picker>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Valor</th>
            <th scope="col">Data de pagamento</th>
            <th scope="col">Valor pago</th>
          </tr>
        </thead>
        <tbody>
          @for (installment of data.order.installments; track installment) {
          <tr>
            <td>{{ getBrDate(installment.debitDate) }}</td>
            <td>{{ getCurrencyValue(installment.amount) }}</td>
            <td>
              <input
                class="form-control"
                id="first-installment-date"
                placeholder="dd/mm/aaaa"
                name="birth-date"
                mask="00/00/0000"
                matInput
                [dropSpecialCharacters]="false"
                [(ngModel)]="installment.paymentDate"
              />
            </td>
            <td>
              <app-input-mask
                [value]="installment.amountPaid || 0"
                (handleOnChange)="setInstallmentAmountPaid($event, installment)"
              >
              </app-input-mask>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-between">
  <button mat-dialog-close class="btn btn-danger">Cancelar</button>
  <button mat-dialog-close cdkFocusInitial class="btn btn-success">
    Confirmar
  </button>
</mat-dialog-actions>
