<h2 mat-dialog-title>Parcelas</h2>
<mat-dialog-content class="text-dark">
  <div class="d-flex gap-2">
    <div class="">
      <app-installments-select
        [order]="data.order"
        (saveOrderAction)="data.saveOrder($event)"
      />
    </div>
    <div class="">
      <app-br-date-picker
        [label]="'Data da primeira parcela'"
        [value]="data.order.firstInstallmentDate"
        (handleOnChange)="setFirstInstallmentDate($event)"
      ></app-br-date-picker>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-body table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Valor</th>
            <th scope="col">Data de pagamento</th>
            <th scope="col">Valor pago</th>
          </tr>
        </thead>
        <tbody>
          @for (installment of installments; track installment) {
          <tr>
            <td>{{ getBrDate(installment.debitDate) }}</td>
            <td>{{ getCurrencyValue(installment.amount) }}</td>
            <td>
              <app-br-date-picker
                [label]="'Data de pagamento'"
                [value]="installment.paymentDate"
                (handleOnChange)="
                  setInstallmentPaymentDate($event, installment)
                "
                (handleDoubleClick)="setInstallmentPaidDate(installment)"
                class="col-md-3"
              ></app-br-date-picker>
            </td>
            <td>
              <app-input-mask
                [value]="installment.amountPaid || 0"
                (handleOnChange)="setInstallmentAmountPaid($event, installment)"
                (handleDoubleClick)="setInstallmentPaidAmount(installment)"
              >
              </app-input-mask>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-between">
  <button mat-dialog-close class="btn btn-danger">Cancelar</button>
  <button cdkFocusInitial class="btn btn-success" (click)="saveInstallments()">
    Confirmar
  </button>
</mat-dialog-actions>
